.container {
  padding: 1.25rem;
  text-align: center;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.portfolio {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 45%;
  }

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
