.text {
  width: 65vw;
  color: #e5e7eb;
}

.context {
  padding: 1.25rem;
  text-align: center;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 35%;
}

.description {
  padding-top: 2rem;
  background-color: black;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 15% cover 50%;
}

.portfolio {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 45%;
}

.skills {
  padding: 0.5rem;
  width: 100%;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 15% cover 45%;
}

.certificates {
  margin-left: auto;
  margin-right: auto;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

@media (min-width: 768px) {
  .skills {
    width: 25%; /* 1/4 */
  }

  .skills {
    padding: 0.5rem; /* 2 * 0.25rem */
  }

  .description {
    margin-bottom: 4rem;
  }

  .text {
  }
}

@media (min-width: 665px) {
  .text {
    width: 50vw;
  }
}
